/* general style to the site */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: snow;
}

/* Navbar style */
nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background: transparent;
    transition: background-color 0.3s ease-in-out,
                border-bottom 0.3s ease-in-out;

}
nav.anim-nav {
    background: black;
    border-bottom: 3px solid snow;
    color: snow;
}
nav ul {
    width: 100%; 
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    margin: 0 15px;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: snow;
    text-transform: uppercase;
    border-top: 2px solid transparent;
    transition: .2s;
}
nav a:hover {
    color: snow;
    border-left: red 2px solid ;
    transition: 0.2s;

}

/* Responsive navbar */
@media screen and (max-width: 550px) {
    nav li {
        margin: 0 8px;
    }
    nav a {
        font-size: 15px;
    } 
}

/* section home */
.home {
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.bloc-left-home {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: black;
    box-shadow: 90px 0 100px 100px black;    
}
h1 {
    color: snow;
    font-size: 90px;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 8vw;
    white-space: nowrap;
}
.home p {
    
    color: snow;
    font-size: 30px;
    text-align: justify;
    width: 600px;
    margin-left: 8vw;
    line-height: 1.3;
}
.cont-btn-home {
    display: flex;
}
.btn-home {
    font-size: 18px;
    text-align: center;
    color:  snow;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 40px;
    border: 3px solid snow;
    width: 150px;
    cursor: pointer;
  
}
.btn-home:hover {
    transition: all 0.2s ease;
    color: black;
    background: snow;
}
.b1 {
    margin-left: 8vw;
}
.b2 {
    margin-left: 10px;
}
.bloc-right-home {
    background-image: url(https://cdn.pixabay.com/photo/2016/07/13/16/00/box-1514845_960_720.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 60%;
    height: 100%;
    background-position: 70% 10%;
}

/* Responsive section Home*/
@media screen and (max-width: 1350px) {
    .bloc-left-home {
        width: 60%;
    }
    .bloc-right-home {
        background-position: 72% 10%;
    }
}
@media screen and (max-width: 750px) {
    .home {
        height: 600px;
    }
    h1 {
        font-size: 50px;
        padding-top: 120px;
    }
    .home p {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .btn-home {
        font-size: 18px;
        padding: 12px;
        margin-top: 20px;
    }
    .bloc-left-home {
        width: 50%;
    }
}
@media screen and (max-width: 550px) {

    .home {
        height: 450px;
    }
    h1 {
        font-size: 40px;
        padding-top: 100px;
        margin-left: 2vw;
    }
    .home p {
        font-size: 20px;
        margin-left: 2vw;
        margin-bottom: 15px;
    }
    .btn-home {
        padding: 8px;
        font-size: 16px;
    }
    .b1 {
        margin-left: 2vw;
    }
    .b2 {
        margin-left: 10px;
    }
    .bloc-left-home {
        box-shadow: 20px 0 100px 100px black;
        width: 40%;
    }

}

/* Section info */
.title-section-info {
    color: black;
    text-align: center;
    font-size: 65px;
    padding: 50px 20px 120px;
}
.section-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background: snow;
    position: relative;
    z-index: 1;
}
.card-info {
    width: 350px;
    height: auto;
    margin: 0 20px 80px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.9);
    position: relative;
    z-index: 100;
    background-color: snow;
    border: 3px solid black;
    border-radius: 5px;
}
.container-img-info img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 100;
}
.card-info h2 {
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 30px 5px;
    background-color: snow;
}
.card-info p {
    color: black;
    text-align: center;
    font-size: 23px;
    padding: 0 5px 15px;
    background-color: snow;
}
.deco-infos {
    position: absolute;
    z-index: -1;
    top: -70px;
    left: -100px;
}
.deco-infos-2 {
    position: absolute;
    z-index: -1;
    bottom: -70px;
    left: -100px;
}
.deco-infos-3 {
    position: absolute;
    z-index: -1;
    bottom: -70px;
    right: -100px;
}
.deco-infos-4 {
    position: absolute;
    z-index: -1;
    top: -70px;
    right: -100px;
}

/* Responsive section info */
@media screen and (max-width: 1400px) {
    .deco-infos, .deco-infos-2, .deco-infos-3, .deco-infos-4 {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .title-section-info {
        font-size: 50px;
    }
}
@media screen and (max-width: 550px) {
    .title-section-info {
        font-size: 32px;
        padding: 40px 20px 40px;
    }
    .card-info {
        margin: 0 10px 45px;
    }
}


/* section choice */
#choice {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.training-choice {
    width: 30%;
    text-align: center;
    color: snow;
    margin: 50px 20px 70px;
}
.training-choice h3 {
    font-size: 50px;
    margin-bottom: 20px;
}
.training-choice p {
    font-size: 18px;
    width: 70%;
    margin: 0 auto 30px;
}
.btn-price {
    display: inline-block;
    width: 300px;
    padding: 15px 0;
    font-size: 22px;
    background: black;
    color: snow;
    border: 3px solid snow;
    cursor: pointer;
    text-decoration: none;
}
.btn-price:hover {
    transition: all 0.2s ease-in-out;
    background: snow;
    color: black;
}






/* footer */
footer {
    text-align: center;
    padding: 15px 0;
    border-top: 1px dashed black;
}