/* general style to the site */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: snow;
}

/* Navbar style */
nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background: transparent;
    transition: background-color 0.3s ease-in-out,
                border-bottom 0.3s ease-in-out;

}
nav.anim-nav {
    background: black;
    border-bottom: 3px solid snow;
    color: snow;
}
nav ul {
    width: 100%; 
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    margin: 0 15px;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: snow;
    text-transform: uppercase;
    border-top: 2px solid transparent;
    transition: .2s;
}
nav a:hover {
    color: snow;
    border-left: red 2px solid ;
    transition: 0.2s;

}
/* Responsive navbar */
@media screen and (max-width: 550px) {
    nav li {
        margin: 0 8px;
    }
    nav a {
        font-size: 15px;
    }
    
}

/* section home / presentation */
.home {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.bloc-left-home {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: black;
    box-shadow: 90px 0 100px 100px black;    
}
h1 {
    color: snow;
    font-size: 90px;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 8vw;
    white-space: nowrap;
}
.home p {
    
    color: snow;
    font-size: 30px;
    text-align: justify;
    width: 600px;
    margin-left: 8vw;
    line-height: 1.3;
}

.cont-btn-home {
    display: flex;
}
.btn-home {
    font-size: 18px;
    text-align: center;
    color:  snow;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 40px;
    border: 3px solid snow;
    width: 150px;
    cursor: pointer;
  
}
.btn-home:hover {
    transition: all 0.2s ease;
    color: black;
    background: snow;
}
.b1 {
    margin-left: 8vw;
}
.b2 {
    margin-left: 10px;
}
.bloc-right-home {
    background-image: url(https://cdn.pixabay.com/photo/2016/07/13/16/00/box-1514845_960_720.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 60%;
    height: 100%;
    background-position: 70% 10%;
}
/* Responsive section Home*/
@media screen and (max-width: 1350px) {
    .bloc-left-home {
        width: 60%;
    }
    .bloc-right-home {
        background-position: 72% 10%;
    }
}



footer {
    text-align: center;
    padding: 15px 0;
    border-top: 1px dashed black;
}